<log4net>
  <root>
    <level value="Info" />
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="logs\\trident.logs" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="500KB" />
    <maxSizeRollBackups value="15" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date   [%thread]   %-5level   %logger   %message%newline" />
    </layout>
  </appender>
</log4net>